@model CvBuilder.Models.ContactInfo

<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-lg-12">
            @Html.LabelFor(model => Model.FullName, "Full name", null)
            @Html.EditorFor(model => Model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "your full name" } })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            @Html.LabelFor(model => Model.Email, "Email address", null)
            @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "someone@example.com" } })
        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(model => Model.Email, "Phone number", null)
            @Html.EditorFor(model => Model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "phone number" } })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-6">
            @Html.LabelFor(model => Model.Location, "Location", null)
            @Html.EditorFor(model => Model.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "city, country" } })

        </div>
        <div class="form-group col-lg-6">
            @Html.LabelFor(model => Model.BirthdayString, "Birth Date (optional)", null)
            @Html.EditorFor(model => Model.BirthdayString, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off" } })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12">
            @Html.LabelFor(model => Model.Website, "Website (optional)", null)
            @Html.EditorFor(model => Model.Website, new { htmlAttributes = new { @class = "form-control", placeholder = "myawesomewebsite.net" } })
        </div>
        <div class="form-group col-lg-12">
            @Html.LabelFor(model => Model.LinkedinProfile, "LinkedIn Profile (optional)", null)
            @Html.EditorFor(model => Model.LinkedinProfile, new { htmlAttributes = new { @class = "form-control", placeholder = "linkedin.com/in/XXXXXXXXXXXXXX" } })
        </div>
    </div>

    <div style="float:right;">
        <input type="button" style="display:inline" value="Save" class="btn btn-success save-section" />
    </div>
    
</div>


