
@{
    ViewBag.Title = "Contact information";
}

<style>
    .collapsible {
        background-color: #7085ba;
        margin-bottom: 2px;
        color: white;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
    }

        .active, .collapsible:hover {
            background-color: #566c9f;
        }

        .collapsible:after {
            content: '\002B';
            color: white;
            font-size: 20px;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>

<h2>Edit your information by sections</h2>

<button class="collapsible">My contact info</button>
<div class="content">
    @Html.Action("FormAddContactInfo", "Builder")
</div>
<button class="collapsible">My Professional Experience</button>
<div class="content">
    @Html.Action("FormAddWork", "Builder")
</div>
<button class="collapsible">My Educational History</button>
<div class="content">
    @Html.Action("FormAddEducation", "Builder")
</div>
<button class="collapsible">Language skills</button>
<div class="content">
    @Html.Action("FormAddLanguages", "Builder")
</div>
<button class="collapsible">Technical Skills</button>
<div class="content">
    @Html.Action("FormAddSkills", "Builder")
</div>
<button class="collapsible">Trainings, certifications, awards</button>
<div class="content">
    @Html.Action("FormAddCertifications", "Builder")
</div>
<button class="collapsible">References and other info</button>
<div class="content">
    @Html.Action("FormAddOtherInfo", "Builder")
</div>

<div class="col-lg-12 col-md-12 text-center">
    <button type="button" class="btn btn-lg btn-success">Generate my CV</button>
</div>
  
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    var saveButtons = document.getElementsByClassName("save-section");
    for (i = 0; i < saveButtons.length; i++) {
        saveButtons[i].addEventListener("click", function () {
            var content = $(this).closest(".content");
            var openTab = content.prev();
            $(this).removeClass("active");
            openTab.trigger("click");
            //.classList.toggle("active");
        });
    }
</script>