
@{
    ViewBag.Title = "Edit my CV online";
}

<style>
    .collapsible {
        background-color: #7085ba;
        margin-bottom: 2px;
        color: white;
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
    }

    .completed {
        background-color: #59b467;
    }

    .active, .collapsible:hover {
        background-color: #566c9f;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-size: 20px;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        clear: both;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>

<<<<<<< HEAD
=======

>>>>>>> 0e4042077d1902304d1d05785483433945ee5c31
<h2>Edit your information by sections</h2>

<button class="collapsible">My contact info</button>
<div class="content">
    @Html.Action("FormAddContactInfo", "Builder")
</div>
<button class="collapsible">My Professional Experience</button>
<div class="content">
    @Html.Action("FormAddWork", "Builder")
</div>
<button class="collapsible">My Educational History</button>
<div class="content">
    @Html.Action("FormAddEducation", "Builder")
</div>
<button class="collapsible">Language skills</button>
<div class="content">
    @Html.Action("FormAddLanguages", "Builder")
</div>
<button class="collapsible">Technical Skills</button>
<div class="content">
    @Html.Action("FormAddSkills", "Builder")
</div>
<button class="collapsible">Trainings, certifications, awards</button>
<div class="content">
    @Html.Action("FormAddCertifications", "Builder")
</div>
<button class="collapsible">References and other info</button>
<div class="content">
    @Html.Action("FormAddOtherInfo", "Builder")
</div>

<div class="col-lg-12 col-md-12 text-center">
    <button type="button" class="btn btn-lg btn-success">Generate my CV</button>
</div>
<div aria-live="polite" aria-atomic="true" style="position:absolute; top:10px; right:10px; min-width: 300px; z-index: 999;">
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="true" data-delay="1000" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header" style="color:white;background-color:#59b467">
            <strong class="mr-auto">Info</strong>
            <small>now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Your info was saved!
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");

            var label = $(this).find(".completedLabel");
            if (label !== null) label.remove();

            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    var saveButtons = document.getElementsByClassName("save-section");
    for (i = 0; i < saveButtons.length; i++) {
        saveButtons[i].addEventListener("click", function () {
            var content = $(this).closest(".content");
            var openTab = content.prev();
            $(this).removeClass("active");
            openTab.trigger("click");
            //TODO: toggle only if form was validated ok
            openTab.addClass("completed");
            //openTab.append("<span class='completedLabel'><i>saved!</i></span>");
            $('.toast').toast('show');

        });
    }
</script>
